from crate import client


query = """CREATE TABLE IF NOT EXISTS {{ cratedb_table_name }} (
    timestamp TIMESTAMP,
    location VARCHAR(128),
    device_id VARCHAR(32),
    subdevice_idx SMALLINT,
    data_type VARCHAR(32),
    datapoint VARCHAR(32),
    value TEXT
);"""

connection = client.connect("127.0.0.1:{{ cratedb_listen_port }}")
cursor = connection.cursor()
cursor.execute(query)
